#
# ~/.config/fish/.gitignore
#

# All plugins files (since Fisher installs them in this directory)
completions/fisher.fish
functions/__*
functions/bass.fish
functions/fisher.fish
fish_variables

# Private Fish config
config.private.fish
